# -------------------------------------------------------------------------------------------------------------------------
#                                       This is a "Strict rule ordering" ruleset.
#
# Use this ruleset with "Strict" rule ordering firewall policy and no default actions, as this template includes custom 
# default block rules at the end that block everything not explicitly allowed.
# -------------------------------------------------------------------------------------------------------------------------

# ------------------------------------------------------------
#                           EGRESS
# ------------------------------------------------------------

# -------------------------------------------------------------------------------------------------------------------------
#                                               TCP handshake for HTTPS
#
# Silently allow TCP 3-way handshake to be setup by $HOME_NET clients so that the domain filtering rules will work properly
# Do not move this section, it's important that this be at the top of the entire Egress ruleset to reduce conflicts
# -------------------------------------------------------------------------------------------------------------------------

pass tcp $HOME_NET any -> $EXTERNAL_NET 443 (flow:not_established,to_server; msg:"Egress: allow TCP Handshake for TLS inspection on port 443"; alert; sid:1;)

# ------------------------------------------------------------
#                   Enforce that outbound 
#              - TCP/443 traffic must use TLS
# ------------------------------------------------------------

reject tcp $HOME_NET any -> $EXTERNAL_NET 443 (app-layer-protocol:!tls; flow:to_server; msg:"Egress: block non-TLS traffic on TCP/443"; sid:2;)

# Emergency fallback: allow all outbound TLS traffic when TLS filtering is unavailable or malfunctioning. >> WARNING: This bypasses the Explicit TLS allow-list.
# pass tls $HOME_NET any -> $EXTERNAL_NET 443 (msg:"Egress: allow all outbound TLS traffic"; alert; flow:to_server; sid:99;)

# ------------------------------------------------------------
#                   Explicit TLS allow-list
# ------------------------------------------------------------

# Internal services
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"auth.cdssandbox.xyz"; startswith; endswith; nocase; msg:"Egress: reaching out to auth.cdssandbox.xyz"; alert; sid:30;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"api.notification.canada.ca"; startswith; endswith; nocase; msg:"Egress: reaching out to api.notification.canada.ca"; alert; sid:31;)
# Next two pass statements can be removed once the migration to the new SSO solution is complete and Cognito is removed
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"cognito-idp.ca-central-1.amazonaws.com"; startswith; endswith; nocase; msg:"Egress: reaching out to cognito-idp.ca-central-1.amazonaws.com"; alert; sid:32;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"auth.forms-staging.cdssandbox.xyz"; startswith; endswith; nocase; msg:"Egress: reaching out to auth.forms-staging.cdssandbox.xyz"; alert; sid:33;)

# External services
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"api.hcaptcha.com"; startswith; endswith; nocase; msg:"Egress: reaching out to api.hcaptcha.com"; alert; sid:50;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"ws1.postescanada-canadapost.ca"; startswith; endswith; nocase; msg:"Egress: reaching out to ws1.postescanada-canadapost.ca"; alert; sid:51;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"cds-snc.freshdesk.com"; startswith; endswith; nocase; msg:"Egress: reaching out to cds-snc.freshdesk.com"; alert; sid:52;)

# Release pipeline related services
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"registry-1.docker.io"; startswith; endswith; nocase; msg:"Egress: reaching out to registry-1.docker.io"; alert; sid:70;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"auth.docker.io"; startswith; endswith; nocase; msg:"Egress: reaching out to auth.docker.io"; alert; sid:71;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"production.cloudfront.docker.com"; startswith; endswith; nocase; msg:"Egress: reaching out to production.cloudfront.docker.com"; alert; sid:72;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"repo.yarnpkg.com"; startswith; endswith; nocase; msg:"Egress: reaching out to repo.yarnpkg.com"; alert; sid:73;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"registry.yarnpkg.com"; startswith; endswith; nocase; msg:"Egress: reaching out to registry.yarnpkg.com"; alert; sid:74;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"binaries.prisma.sh"; startswith; endswith; nocase; msg:"Egress: reaching out to binaries.prisma.sh"; alert; sid:75;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"fonts.googleapis.com"; startswith; endswith; nocase; msg:"Egress: reaching out to fonts.googleapis.com"; alert; sid:76;)
pass tls $HOME_NET any -> $EXTERNAL_NET 443 (ssl_state:client_hello; flow:to_server; tls.sni; content:"fonts.gstatic.com"; startswith; endswith; nocase; msg:"Egress: reaching out to fonts.gstatic.com"; alert; sid:77;)

# ------------------------------------------------------------
#                       Default blocks
#
# Anything that wasn't explicitly passed above is blocked.
# ------------------------------------------------------------

reject tls $HOME_NET any -> $EXTERNAL_NET any (ssl_state:client_hello; flow:to_server; msg:"Egress: block unauthorized TLS traffic"; sid:3;)
reject tcp $HOME_NET any -> $EXTERNAL_NET any (flow:not_established,to_server; msg:"Egress: block unauthorized TCP traffic"; sid:4;)
# Reject any other IP traffic (including: UDP, ICMP).
drop ip $HOME_NET any -> $EXTERNAL_NET any (ip_proto:!TCP; flow:to_server; msg:"Egress: block all other unauthorized IP traffic"; sid:6;)

# ------------------------------------------------------------
#                       Ingress rules
# ------------------------------------------------------------

# -----------------------------------------------------------------------------------------------------------------------------
#                                               TCP handshake for HTTPS
#
# Silently allow TCP 3-way handshake to be setup by $EXTERNAL_NET clients so that the domain filtering rules will work properly
# Do not move this section, it's important that this be at the top of the entire Ingress ruleset to reduce conflicts
# -----------------------------------------------------------------------------------------------------------------------------

pass tcp $EXTERNAL_NET any -> $HOME_NET 80 (flow:not_established,to_server; msg:"Ingress: allow TCP Handshake on port 80"; alert; sid:100;)
pass tcp $EXTERNAL_NET any -> $HOME_NET 443 (flow:not_established,to_server; msg:"Ingress: allow TCP Handshake for TLS inspection on port 443"; alert; sid:101;)

# ------------------------------------------------------------
#                   Enforce that inbound 
#              - TCP/80 traffic must use HTTP
#              - TCP/443 traffic must use TLS
# ------------------------------------------------------------

reject tcp $EXTERNAL_NET any -> $HOME_NET 80 (app-layer-protocol:!http; flow:to_server; msg:"Ingress: block non-TLS traffic on TCP/80"; sid:102;)
reject tcp $EXTERNAL_NET any -> $HOME_NET 443 (app-layer-protocol:!tls; flow:to_server; msg:"Ingress: block non-TLS traffic on TCP/443"; sid:103;)

# ------------------------------------------------------------
#                   Allow Web traffic only
# ------------------------------------------------------------

pass http $EXTERNAL_NET any -> $HOME_NET 80 (flow:to_server; msg:"Ingress: incoming HTTP traffic"; alert; sid:130;)
pass tls $EXTERNAL_NET any -> $HOME_NET 443 (flow:to_server; msg:"Ingress: incoming TLS traffic"; alert; sid:131;)

# ------------------------------------------------------------
#                       Default blocks
#
# Anything that wasn't explicitly passed above is blocked.
# ------------------------------------------------------------

reject tls $EXTERNAL_NET any -> $HOME_NET any (flow:to_server; msg:"Ingress: block unauthorized TLS traffic"; sid:104;)
reject tcp $EXTERNAL_NET any -> $HOME_NET any (flow:not_established,to_server; msg:"Ingress: block unauthorized TCP traffic"; sid:105;)
# Reject any other IP traffic (including: UDP, ICMP).
drop ip $EXTERNAL_NET any -> $HOME_NET any (ip_proto:!TCP; flow:to_server; msg:"Ingress: block all unauthorized other IP traffic"; sid:106;)