name: Conventional commit lint

on:
  workflow_dispatch:

jobs:
  conventional-commit-lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

    - name: Setup Node.js
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: '20.x'

    - name: Setup commitlint
      run: |
        npm install -g @commitlint/config-conventional @commitlint/cli

    - name: Validate last commit
      run: |
        npx commitlint \
          --extends '@commitlint/config-conventional' \
          --last \
          --verbose
