name: Scorecards supply-chain security
on:
  workflow_dispatch:
  schedule:
    # Weekly on Saturdays.
    - cron: "30 1 * * 6"
  push:
    branches:
      - main

permissions:
  contents: read
  issues: read
  pull-requests: read
  checks: read
  actions: read

jobs:
  analysis:
    name: Scorecards analysis
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: "Run analysis"
        uses: ossf/scorecard-action@4a0b87a20cc42672e6c80e82e63b5cd8f25f108a
        with:
          results_file: ossf-results.json
          results_format: json
          publish_results: false

      - name: "Add metadata"
        run: |
          full_repo="${{ github.repository }}"
          OWNER=${full_repo%/*}
          REPO=${full_repo#*/}
          jq -c '. + {"metadata_owner": "'$OWNER'", "metadata_repo": "'$REPO'", "metadata_query": "ossf"}' ossf-results.json > ossf-results-modified.json

      - name: "Post results to Sentinel"
        uses: cds-snc/sentinel-forward-data-action@717c852022dff8e51f34a4b59702f8d684b0eb3d
        with:
          file_name: ossf-results-modified.json
          log_type: GitHubMetadata_OSSF_Scorecard
          log_analytics_workspace_id: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          log_analytics_workspace_key: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}
