name: Terraform variable check

on:
  pull_request:
    branches:
      - main
    paths:
      - "aws/**"
      - "env/**"
      - ".github/workflows/**"

jobs:
  terraform-variable-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Check Terraform variables are defined correctly
        run: |
          ./.github/workflows/scripts/terraform-variable-check.sh
